.footer{
    background-color: #1e272e;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    color: white;

  }
footer ul{
    list-style: none;
}
footer ul li{
    padding: 10px;
}
footer ul li a{
    text-decoration: none;
    color: white;
   

}

.section-three ul{
    display: flex;
    justify-content: space-around;
}
.section-three ul img{
    box-shadow: 0 8px 4px 0 grey;
    width: 40px;
}
@media only screen and (max-width: 600px){
    .footer{
        grid-template-columns: 1fr;
    }
}