nav ul{
    list-style: none;
    display: flex;
    background-color: #1A237E;
    align-content: space-around;
    justify-content: end;
 }
 nav ul li{
      margin: 10px;
      justify-content: end;
 }
nav ul a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    
}
