.container{
background-image:linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0,0, 0.73)),
url('../img/couples-sitting-in-while-facing-mountain-1483024-min.jpg');
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 720px;
}
.container-title{
    color: blue;
    font-style: italic;
    position: absolute;
    top: 420px;
    left: 240px;
}
.container-title h1{
    color: white;
    font-size: 30px;
}